*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
 background: url(../images/Фон1.png) no-repeat center top fixed;
 background-size: cover;
}

/*header*/

.block-header {
    display: grid;
    grid-template-columns: 240px 430px;
    grid-template-rows: 60px;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
}

.journey {
    text-align: end;
    margin-top: 20px;
    font-size: 22px;
    line-height: 22px;
    text-decoration: none;
}

.font-header {
    margin-top: 0;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
}

.journey:hover h4 {
    color: #01813F;
}

.calendar {
    fill: #FFFFFF;
}

.calendar:hover {
    fill: #01813F;
}

.mail {
    fill: #FFFFFF;
}

.mail:hover {
    fill: #01813F;
}

.compass {
    fill: #FFFFFF;
}

.compass:hover {
    fill: #01813F;
}

.navigaton {
    display: grid;
    grid-template-columns: 140px 290px;
    grid-template-rows: 60px;
    justify-content: space-between;
}

.svg-img {
    display: grid;
    grid-template-columns: repeat(3, 25px);
    grid-template-rows: 25px;
    justify-content: space-between;
    align-content: center;
}

.block-login span a {
    text-decoration: none;
    color: #FFFFFF;
}

.login-hover:hover {
    color: #01813F;
}

.signup-hover:hover {
    color: #01813F;
}

.block-login {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    line-height: 14px;
}

/* main */

.green-square {
    position: absolute;
    margin-left: 0;
    margin-bottom: 110%;
}

.block-sign-up {
    width: 444px;
    height: 584px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    box-shadow: 0px 4px 18px;
    display: grid;
    grid-template-columns: 324px;
    grid-template-rows: repeat(10, 50px);
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    padding-bottom: 40px;
}

.block-sign {
    display: flex;
    justify-content: space-between;
}

.block-or {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #848484;
}

.block-button-fg {
    display: flex;
}

.button-face-goog {
    width: 160px;
    height: 48px;
    border-radius: 4px;
    border: 0;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    margin-right: 4px;
}

.button-bgd-face {
    background: #305DB8;
}

.button-bgd-face:hover {
    background: #022263;
}

.button-bgd-goog {
    background: #DF4A32;
    margin-left: 0px;
}

.button-bgd-goog:hover {
    background: #AB1F09;
}

.input-box {
    width: 324px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
}

.buttun-create {
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: 0;
}

.font-signup {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.font-login {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.font-creat {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.font-checkbox {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #434343;
}

.terms {
    color: #11ce6c;
}

.terms-hov:hover {
    color: #01813F;
}

input:focus {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    background: #FFFFFF;
    outline: none;
    border-radius: 4px;
    border-color: #FFFFFF;
}

input::placeholder {
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    padding-left: 20px;
}

.img-face {
    margin-right: 20px;
}

.img-goog {
    margin-right: 20px;
}

.block-or::before {
    content: "";
    width: 144px;
    border-bottom: 2px solid #F2F2F2;
    margin-right: 5px;
    display: inline-block;
}
.block-or::after {
    content: "";
    width: 144px;
    border-bottom: 2px solid #F2F2F2;
    margin-left: 5px;
    display: inline-block;
}

.margin-check {
    margin-left: 28px;
}

.chek-box {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.fake-checkbox {
    position: absolute;
    display: inline-block;
    bottom: 20px;
    width: 20px;
    height: 20px;
    left: 62px;
    top: 436px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
}

.fake-checkbox + label::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 20px;
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    opacity: 0;
    background-repeat: no-repeat;
}

.checkbox-beafor:checked + label::before {
    background-image: url(../images/Vector1.png);
    opacity: 1;
}

.checkbox-beafor:checked::before {
    background-image: url(../images/Vector1.png);
    opacity: 1;
}

