*,
*:before,
*:after {
    box-sizing: border-box;
}

.body-page {
    display: block;
    width: 1280px;
    height: 1190px;
    margin: 0 auto;
}

.ra {
    color: #000000;
}

.logo-ramda {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    width: 334px;
    height: 79px;
    font-size: 80px;
    line-height: 94px;
    color: #4BCAFF;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 48px;
    width: 1280px;
    height: 72px;
    list-style-type: none;
    background: #405361;
}

.header-menu-item {
    text-decoration: none;
    color: #FFFFFF;
    height: 69px;
    padding: 40px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    font-family: sans-serif;
    font-size: 24px;
    line-height: 28px;
}

.main {
    display: flex;
}

.aside-menu {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    list-style-type: none;
    padding-left: 40px;
    width: 344px;
    height: 399px;
    border: 1px solid #000000;
}

.aside-menu-item {
    text-decoration: none;
    font-family: sans-serif;
    display: inline-block;
    vertical-align: middle;
    margin-top: 44px;
    font-size: 24px;
    line-height: 24px;
    color: #495863;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 885px;
    height: 529px;
    margin-left: 52px;
    border: 1px solid #000000;
}

.block-text {
    width: 885px;
    margin-left: 52px;
}

.text {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.footer {
    display: flex;
    justify-content: start;
}

.footer-menu {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style-type: none;
    background: rgba(99, 105, 110, 0.48);
    width: 928px;
    height: 69px;
}

.footer-menu-item {
    text-decoration: none;
    font-family: sans-serif;
    display: inline-block;
    vertical-align: middle;
    padding-right: 40px;
    font-size: 24px;
    line-height: 24px;
    color: #495863;
}

.copyright {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-left: 82px;
    height: 69px;
    font-style: italic;
    font-size: 24px;
    line-height: 24px;
    padding-right: 82px;
    margin-top: 16px;
    background: rgba(99, 105, 110, 0.48);
}
