*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: url(../images/background1.png) no-repeat center top fixed;
    background-color: grey;
    background-size: cover;
}

.container {
    width: 1030px;
    height: 560px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header {
    display: grid;
    grid-template-columns: 210px 220px;
    grid-template-rows: 62px;
    justify-content: space-between;
}

.logo {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color: #FFFFFF;
}

.milan {
    display: inline-block;
    width: 140px;
    padding-left: 0;
    margin: 0;
    list-style-type: none;
 }

.img-svg {
    fill: url(#pattern0);
 }

.img-svg:hover {
    fill: url(#pattern0);
    fill: #F26522;
}

.logo:hover {
    color: #F26522;
}

ul li:first-child {
    font-size: 29px;
    line-height: 29px;
}

ul li:last-child {
    font-size: 18px;
    line-height: 18px;
}

.block-contacts {
    display: grid;
}

.contacts {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: right;
}

.contacts:hover {
    color: #F26522;
}

.block-main {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 261px);
    justify-content: center;
    align-items: center;
    gap: 37px 61px;
}

.images {
    margin: 0;
}

.images figcaption {
    margin-top: 20px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

main a {
    text-decoration: none;
}

a:hover figure figcaption {
    color: #F26522;
}

.copyright {
    text-align: center;
    margin-top: 50px;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}
