*,
*::before,
*::after {
    box-sizing: border-box;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background: #313131;
}

.menu-nav > a {
    text-align: center;
    text-decoration: none;
    margin: 15px;
    color: #FFFFFF;
}

.logo {
    margin-left: 26px;
    margin-right: 26px;
    background: #313131;
}

.menu-architect {
    text-decoration: none;
    width: 124px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}

.menu-nav {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;

}

.button-search {
    width: 68px;
    height: 70px;
    padding: 26px;
    background: #000000;
}

.header-bgd {
    background: url(../images/header-background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #464646;
    width: 100%;
    height: 369px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.title-one {
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
}

a.button {
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    padding-top: 16px;
    margin: 10px;
    border-radius: 4px;
    color: #FFFFFF;
    width: 170px;
    height: 55px;
}

.button-subscribe {
    background: #89CA62;
}

.button-articles {
    background: #14B9D5;
}

.color-bgd {
    width: 100%;
    height: 1030px;
    background: #F2F2F2;
}

.title-two {
    text-align: center;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
}

.houses {
    height: 909px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.houses > a {
    width: 370px;
    margin: 15px;
    text-align: center;
    background: #FFFFFF;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

.house-one {
    height: 320px;
}

.house-two {
    height: 441px;
}

.house-three {
    height: 355px;
}

.hose-four {
    height: 321px;
}

.house-five {
    height: 309px;
}

.house-six {
    height: 441px;
}

.main-bgd {
    background: url(../images/main-background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #464646;
    width: 100%;
    height: 588px;
    display: grid;
    grid-template-rows: 237px 3px 348px;
}

.title-three {
    margin: 0;
    justify-self: center;
    padding-top: 106px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hr {
    justify-self: center;
    margin: 0;
    width: 60px;
    height: 3px;
    background: #18B4CF;
    border: 0;
}

.logo-clients {
    justify-self: center;
    display: grid;
    grid-template-columns: 207px 135px 232px 141px;
    column-gap: 58px;
    align-items: center;
}

.title-rated {
    text-align: center;
    margin-top: 49px;
    margin-bottom: 52px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
}

.img-top-rated {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(271px, 1fr));
}

.hot-news {
    margin-top: 48px;
    margin-bottom: 51px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
}

.block-news-one {
    display: grid;
    grid-template-columns: 856px 277px;
    grid-template-rows: 258px;
    justify-content: center;
    column-gap: 35px;
    text-align: right;
    text-decoration: none;
    margin-bottom: 42px;
}

.block-news-two {
    display: grid;
    grid-template-columns: repeat(2, 554px);
    grid-template-rows: repeat (2, 418px );
    justify-content: center;
    gap: 35px 60px;
    text-align: right;
    text-decoration: none;
    margin-bottom: 42px;
}

.block-news-three {
    display: grid;
    grid-template-columns: 277px 856px;
    grid-template-rows: 258px;
    justify-content: center;
    column-gap: 35px;
    text-align: right;
    text-decoration: none;
    margin-bottom: 71px;
}

h4 {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

p {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}

.block-news-one > a {
    text-decoration: none;
    background: #F9F7F7;
}

.block-news-two > a {
    text-decoration: none;
    background: #F9F7F7;
}

.block-news-three > a {
    text-decoration: none;
    background: #F9F7F7;
}

.footer {
    width: 100%;
    display: grid;
    grid-template-columns: 512px 110px;
    grid-template-rows: 80px;
    justify-content: center;
    align-items: center;
    column-gap: 559px;
    background: #000000;
}

.copyright {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}
