*,
*::before,
*::after {
    box-sizing: border-box;
}

.page-body {
    margin: 0px;
}

li {
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    font-weight: bold;
    
    display: inline-block;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
}

.menu {
    text-align: center;
}

.menu-item {
    text-decoration: none;
    color: red;
    padding-right: 72px;
}

.image {
    width: 100%;
    background-color: grey;
}

.title {
    text-align: center;
    padding-top: 58px;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    font-family: sans-serif;
    text-transform: uppercase;
}

.text-one {
    text-align: center;
    padding-top: 38px;
    padding-right: 67.5px;
    padding-left: 67.5px;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
}

.text-two {
    padding-top: 28px;
    padding-right: 67.5px;
    padding-left: 67.5px;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}

.button-start {
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;

    display: inline-block;
    padding-top: 18px;
    padding-right: 42.5px;
    padding-left: 42.5px;
    padding-bottom: 17px;
    background: #FF0000;
    border-radius: 4px;
    margin-top: 84px;
    margin-left: 45%;
    margin-bottom: 42px;
    margin-right: 45%;
}

.copyright {
    padding-top: 82px;
    padding-right: 100px;
    padding-left: 70%;
    padding-bottom: 29px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2.4px;
    color: #373737;
}