*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.block-main {
    position: absolute;
    width: 18em;
	  height: 50em;
	  bottom: 0;
	  left: 50%;
	  margin-left: -9em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	  font-size: 350%;
	  font-weight: bold;
	  text-align: justify;
	  overflow: hidden;
	  transform-origin: 50% 100%;
	  transform: perspective(400px) rotateX(20deg);
}

.block-animation {
    position: absolute;
    top: 100%;
    color: rgb(228, 178, 87);
    animation-name: episod;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes episod {
    0% {
      top: 100%;
    }
    50% {
      top: 50%;
    }
    100% {
       top: 0%;
    }
}
